test_data/
**.log
**_log.txt
*__pycache__*
nextflow/work/
nextflow/results/
nextflow/.nextflow.log*
nextflow/.nextflow/
nextflow/flowchart.pdf
nextflow/data/synteny_search_inputs/genome_db/
nextflow/my_test_results/
nextflow/mucA/
nextflow/mucA_metadataFixed/
nextflow/mucA22/
nextflow/wspF/
nextflow/example_data/toydb/*
scripts/sra_processing/nextflow/work/
scripts/sra_processing/nextflow/results/
scripts/sra_processing/nextflow/.nextflow.log*
scripts/sra_processing/nextflow/.nextflow/