conda.enabled = true
docker.enabled = false

params { 
    delete_intermediates = true // deletes intermediate fastqs to save space, at the cost of not being able to -resume
    delete_processed_fastqs = false // deletes the final processed FQ input used for the breseq step

    // PRE-DOWNLOAD
    // get metadata for runs:
    // user must provide sra_query (string), genome_length (float), taxid (int)
    coverage_threshold = 30 // also used in MAIN

    // MAIN
    predownload_outputs = "./results/metadata/" // assumes the pre-download outputs are stored in results dir; might decide to remove this from default params

    // download and sort runs:
    // user must provide run_ids (path)
    read_length_threshold = 500 // for sorting into short vs long reads

    // fastqc and re-filtering:
    // user must provide genome_length (float)
    fastqc_additional = ""

    // kraken2 and subsequent filtering:
    // user must provide k2db (path) and taxid (int)

    // make GB file with buffer and run breseq:
    // user must provide reference_genes (path) and reference_gb (path)
    buffer_upstream = 900
    buffer_downstream = 900
    breseq_additional = ""
}

// by default, Nextflow produces an error if you try to overwrite an existing log file
report {
    overwrite = true
}